{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>Tablica Conclusive Engineering</h1>

  <h2>Menu obiadowe:</h2>
  <p>Aktualny tekst na tablicy: 🔳 {{menu}} 🔳</p>
  {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
